    <form class= action="/login" method="POST">


<div class="row" style="display: inline; width:50%">
            <h4>Авторизация </h4>
            <br>
            <div class="input-field inline col s7 ">
          <input name="name" id="name" type="text" class="validate">
          <label style="margin-top: -25px;" for="name">Имя пользователя</label>
            </div>
            
            <div class="input-field col s7">
          <input name="password" id="password" type="password" class="validate">
          <label style="margin-top: -25px;" for="password">Пароль</label>
        </div>
        </div>
         <button class="btn waves-effect light-blue darken-3" type="submit" name="action">Авторизоваться
            </button>

</form>

