    <form action="/register" method="POST">
    <br>
<div class="row" style="display: inline; width:50%">
            <h4>Регистрация </h4>
            <br>
            <div class="input-field col s12">
          <input name="name" id="name" type="text" class="validate">
          <label style="margin-top: -25px;" for="name">Имя пользователя</label>
            </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="email" id="email" type="email" class="validate">
          <label style="margin-top: -25px" for="email">Email</label>
        </div>
      </div>
            <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate">
          <label style="margin-top: -25px;" for="password">Пароль</label>
        </div>
        </div>
         <button class="btn waves-effect light-blue darken-3" type="submit" name="action">Зарегистрироваться
            </button>
</form>

        </div>